In [1]:
import numpy as np
import pandas as pd
from collections import Counter
from itertools import chain

In [2]:
colNames = 'state	latitude	longitude	name'.split('	')
states = [i.split('	') for i in '''AK	63.588753	-154.493062	Alaska
AL	32.318231	-86.902298	Alabama
AR	35.20105	-91.831833	Arkansas
AZ	34.048928	-111.093731	Arizona
CA	36.778261	-119.417932	California
CO	39.550051	-105.782067	Colorado
CT	41.603221	-73.087749	Connecticut
DC	38.905985	-77.033418	District of Columbia
DE	38.910832	-75.52767	Delaware
FL	27.664827	-81.515754	Florida
GA	32.157435	-82.907123	Georgia
HI	19.898682	-155.665857	Hawaii
IA	41.878003	-93.097702	Iowa
ID	44.068202	-114.742041	Idaho
IL	40.633125	-89.398528	Illinois
IN	40.551217	-85.602364	Indiana
KS	39.011902	-98.484246	Kansas
KY	37.839333	-84.270018	Kentucky
LA	31.244823	-92.145024	Louisiana
MA	42.407211	-71.382437	Massachusetts
MD	39.045755	-76.641271	Maryland
ME	45.253783	-69.445469	Maine
MI	44.314844	-85.602364	Michigan
MN	46.729553	-94.6859	Minnesota
MO	37.964253	-91.831833	Missouri
MS	32.354668	-89.398528	Mississippi
MT	46.879682	-110.362566	Montana
NC	35.759573	-79.0193	North Carolina
ND	47.551493	-101.002012	North Dakota
NE	41.492537	-99.901813	Nebraska
NH	43.193852	-71.572395	New Hampshire
NJ	40.058324	-74.405661	New Jersey
NM	34.97273	-105.032363	New Mexico
NV	38.80261	-116.419389	Nevada
NY	43.299428	-74.217933	New York
OH	40.417287	-82.907123	Ohio
OK	35.007752	-97.092877	Oklahoma
OR	43.804133	-120.554201	Oregon
PA	41.203322	-77.194525	Pennsylvania
PR	18.220833	-66.590149	Puerto Rico
RI	41.580095	-71.477429	Rhode Island
SC	33.836081	-81.163725	South Carolina
SD	43.969515	-99.901813	South Dakota
TN	35.517491	-86.580447	Tennessee
TX	31.968599	-99.901813	Texas
UT	39.32098	-111.093731	Utah
VA	37.431573	-78.656894	Virginia
VT	44.558803	-72.577841	Vermont
WA	47.751074	-120.740139	Washington
WI	43.78444	-88.787868	Wisconsin
WV	38.597626	-80.454903	West Virginia
WY	43.075968	-107.290284	Wyoming'''.split('\n')]
statesDf = pd.DataFrame(states, columns=colNames)
statesDf[:5]

  state   latitude    longitude        name
0    AK  63.588753  -154.493062      Alaska
1    AL  32.318231   -86.902298     Alabama
2    AR   35.20105   -91.831833    Arkansas
3    AZ  34.048928  -111.093731     Arizona
4    CA  36.778261  -119.417932  California

In [3]:
# well status
asset = ['LIVE | NBA Basketball | Toronto vs Michigan',
         'LIVE | Ashes Tour | Australia vs England Secnd Test',
         'LIVE | NFC | Semi Final',
         'RECORDED | UEFA Championship | Liverpool vs Manu',
         'LIVE | Sports News',
         'RECORDED | WWE | Smackdown',
         'LIVE | Live Debate | Economy Analysis']

In [4]:
# WELL_COLORS
device_colors= dict(
    MobileAndroid="#FFEDA0",
    SamsungTV="#FA9FB5",
    Browser="#A1D99B",
    App="#67BD65",
    PS="#BFD3E6",
    Xbox="#B3DE69",
    AppleTV="#FDBF6F",
    FireTV="#FC9272",
    Chromecast="#D0D1E6",
    iPad="#ABD9E9",
    iPhone="#3690C0",
    RokuTV="#F87A72",
    AndroidTV="#CA6BCC",
    Others="#DD3497",
    Unknown="#4EB3D3"
)
devices = list(device_colors.keys())
state = statesDf.state.values

In [5]:
idx = np.minimum(np.random.binomial(len(devices),0.4,1000000), len(devices)-1)
device_list = [devices[i] for i in idx]
# print(Counter(device_list))
Counter(device_list)

Counter({'PS': 126974,
         'Chromecast': 117873,
         'AppleTV': 206335,
         'iPhone': 24762,
         'Xbox': 186544,
         'FireTV': 176400,
         'iPad': 60855,
         'App': 63373,
         'Browser': 22093,
         'SamsungTV': 4645,
         'RokuTV': 7756,
         'AndroidTV': 1650,
         'Others': 243,
         'MobileAndroid': 470,
         'Unknown': 27})

In [6]:
asset_list = [asset[min(i, len(asset)-1)] for i in np.random.binomial(len(asset), 0.4, 1000000)]
Counter(asset_list)

Counter({'LIVE | Live Debate | Economy Analysis': 18797,
         'RECORDED | UEFA Championship | Liverpool vs Manu': 290448,
         'LIVE | NFC | Semi Final': 261576,
         'LIVE | Ashes Tour | Australia vs England Secnd Test': 130192,
         'LIVE | Sports News': 193395,
         'RECORDED | WWE | Smackdown': 77626,
         'LIVE | NBA Basketball | Toronto vs Michigan': 27966})

In [7]:
rbr_list = np.random.normal(1.0, 0.5,1000000)
rbr_list

array([0.86078715, 1.06160178, 1.07572806, ..., 1.19753095, 0.50848466,
       0.89348011])

In [8]:
state_list = [state[i] for i in np.minimum(np.maximum(np.random.normal(len(state)/2, len(state)/5, 1000000).astype(int),0),51)]
Counter(state_list)

Counter({'MT': 38453,
         'OR': 20810,
         'SD': 10887,
         'KY': 27788,
         'ME': 34908,
         'SC': 12630,
         'MN': 37440,
         'PA': 18541,
         'OH': 25377,
         'NC': 38157,
         'NY': 27525,
         'MD': 33391,
         'IA': 16555,
         'ND': 37346,
         'NJ': 33162,
         'LA': 29649,
         'MI': 36077,
         'NE': 35727,
         'HI': 14339,
         'AZ': 3714,
         'AR': 2919,
         'NH': 35170,
         'IL': 21020,
         'MS': 38517,
         'NM': 31282,
         'OK': 23035,
         'ID': 18595,
         'IN': 23027,
         'PR': 16568,
         'FL': 10993,
         'WA': 3726,
         'AL': 2326,
         'MO': 37555,
         'RI': 14553,
         'DE': 9347,
         'MA': 31612,
         'KS': 25046,
         'DC': 7896,
         'NV': 29685,
         'WY': 8255,
         'UT': 6562,
         'CO': 5488,
         'AK': 8003,
         'TN': 9289,
         'GA': 12617,
         'CT': 6740,
         'VT': 4541,
         'VA': 5490,
         'TX': 7857,
         'WI': 2891,
         'WV': 2346,
         'CA': 4573})

In [9]:
has_ended = [(1 if np.random.rand()>0.4 else 0) if i>0.4 else 0 for i in np.random.rand(1000000)]
is_newSession = [1 if i>0.6 else 0 for i in np.random.rand(1000000)]
Counter(has_ended), Counter(is_newSession)

(Counter({0: 639906, 1: 360094}), Counter({1: 400418, 0: 599582}))

In [10]:
is_vsf = [1 if i>0.985 else 0 for i in np.random.rand(1000000)]
is_ebvs = [1 if i>0.99 else 0 for i in np.random.rand(1000000)]
Counter(is_vsf), Counter(is_ebvs)

(Counter({0: 985050, 1: 14950}), Counter({0: 989973, 1: 10027}))

In [11]:
session_length = (np.random.poisson(5, 1000000) * np.random.poisson(4, 1000000)) + np.random.rand(1000000)
ts = np.concatenate((np.random.uniform(0,21,900000).astype(int), np.random.poisson(4.5,50000), np.random.normal(13.5,1.5,50000).astype(int)))
Counter(ts)

Counter({15: 48451,
         5: 51446,
         8: 45302,
         14: 53716,
         6: 49622,
         3: 51120,
         10: 45479,
         0: 43194,
         16: 44464,
         11: 48540,
         17: 43231,
         19: 42850,
         1: 45338,
         12: 53500,
         4: 52327,
         7: 46491,
         18: 42915,
         9: 44704,
         20: 42801,
         2: 48421,
         13: 56088})

In [43]:
df = pd.DataFrame({'ts':np.minimum(ts,20),
                   'asset': asset_list,
                   'state': state_list,
                   'device': device_list,
                   'rbr': rbr_list,
                   'justJoined': is_newSession,
                   'hasEnded': has_ended,
                   'isVsf': is_vsf,
                   'isEbvs': is_ebvs,
                   'sessionLength':session_length})
df['hasEnded'] = np.maximum(np.maximum(df.hasEnded, df.isVsf), df.isEbvs)
df.loc[df.justJoined==1, 'sessionLength'] = df.loc[df.justJoined==1, 'sessionLength']-df.loc[df.justJoined==1, 'sessionLength'].astype(int)
df = df.sample(len(df))
# df['concurrentPlays'] = np.random.randint()
df[:5]

,ts,asset,state,device,rbr,justJoined,hasEnded,isVsf,isEbvs,sessionLength
10420,13,RECORDED | UEFA Championship | Liverpool vs Manu,RI,AppleTV,1.538495,0,1,1,0,18.284293
69514,7,LIVE | Ashes Tour | Australia vs England Secnd...,CA,iPad,1.282363,1,0,0,0,0.093500
889947,14,RECORDED | WWE | Smackdown,NY,Xbox,0.946432,1,1,0,0,0.002873
233629,2,LIVE | NFC | Semi Final,SD,AppleTV,1.980442,0,0,0,0,12.712454
100226,3,RECORDED | UEFA Championship | Liverpool vs Manu,MT,AppleTV,0.773666,1,0,0,0,0.437368

In [44]:
import itertools
all_comb = pd.DataFrame(itertools.product(*[range(18),asset, state,devices]), columns = ['ts','asset','state','device'])
all_comb[:5]

   ts                                        asset state         device
0   0  LIVE | NBA Basketball | Toronto vs Michigan    AK  MobileAndroid
1   0  LIVE | NBA Basketball | Toronto vs Michigan    AK      SamsungTV
2   0  LIVE | NBA Basketball | Toronto vs Michigan    AK        Browser
3   0  LIVE | NBA Basketball | Toronto vs Michigan    AK            App
4   0  LIVE | NBA Basketball | Toronto vs Michigan    AK             PS

In [49]:
agg_df = df.groupby(['ts','asset','state','device']).agg({#'concurrentPlays':'sum',
                                                         'rbr':'mean', 
                                                         'justJoined':'sum',
                                                         'hasEnded':'sum',
                                                         'isVsf':'sum',
                                                         'isEbvs':'sum',
                                                         'sessionLength':'mean'}).reset_index()
agg_df = pd.merge(all_comb, agg_df, how='left')
agg_df['justJoined'] = agg_df.justJoined.fillna(0)
agg_df['hasEnded'] = agg_df.hasEnded.fillna(0)
agg_df['isVsf'] = agg_df.isVsf.fillna(0)
agg_df['isEbvs'] = agg_df.isEbvs.fillna(0)

agg_df['sessionLength'] = agg_df.groupby(['asset','state','device'])['sessionLength'].transform(lambda x: x.interpolate().bfill().fillna(6.2))
agg_df['rbr'] = np.abs(agg_df.groupby(['asset','state','device'])['rbr'].transform(lambda x: x.interpolate().bfill().fillna(0.6)))

agg_df.loc[agg_df.ts==0, 'concurrentPlays'] = np.maximum((np.random.randint(1,6,(agg_df.ts==0).sum()).astype(int) * np.random.randint(0,7,(agg_df.ts==0).sum()).astype(int)) - np.random.randint(1,17,(agg_df.ts==0).sum()).astype(int),0)
agg_df.loc[agg_df.ts==0, 'hasEnded'] = [np.random.randint(i//10, i+1) for i in (agg_df.loc[agg_df.ts==0, 'concurrentPlays'].values)]

agg_df = agg_df.sort_values('ts').reset_index(drop=True)
for i in range(1,18):
    ith_lag = agg_df.groupby(['asset','state','device'])['concurrentPlays'].shift(1)
    ith_lag_end = agg_df.groupby(['asset','state','device'])['hasEnded'].shift(1)
    val = ith_lag.loc[agg_df.ts==i] -\
         ith_lag_end.loc[agg_df.ts==i] +\
         agg_df.loc[agg_df.ts==i,'justJoined']
    agg_df.loc[(agg_df.ts==i)&(val<0),'justJoined'] = agg_df.loc[(agg_df.ts==i)&(val<0),'justJoined'] -\
                                                        val[(agg_df.ts==i)&(val<0)]
    agg_df.loc[agg_df.ts==i,'concurrentPlays'] = ith_lag.loc[agg_df.ts==i] -\
                                                 ith_lag_end.loc[agg_df.ts==i] +\
                                                 agg_df.loc[agg_df.ts==i,'justJoined']
    agg_df.loc[agg_df.ts==i, 'hasEnded'] = [np.random.randint(i//4, i+1) for i in (agg_df.loc[agg_df.ts==i, 'concurrentPlays'].values)]
    
agg_df[:5]

,ts,asset,state,device,rbr,justJoined,hasEnded,isVsf,isEbvs,sessionLength,concurrentPlays
0,0,LIVE | NBA Basketball | Toronto vs Michigan,AK,MobileAndroid,0.600000,0.0,0.0,0.0,0.0,6.200000,0.0
1,0,LIVE | Sports News,OH,MobileAndroid,1.992379,0.0,0.0,0.0,0.0,0.247828,0.0
2,0,LIVE | Sports News,NY,Unknown,0.600000,0.0,0.0,0.0,0.0,6.200000,0.0
3,0,LIVE | Sports News,NY,Others,0.884537,0.0,16.0,0.0,0.0,48.038786,17.0
4,0,LIVE | Sports News,NY,AndroidTV,1.137767,0.0,8.0,0.0,0.0,18.971872,13.0

In [50]:
agg_df.groupby(['ts'])['concurrentPlays'].sum()

ts
0     20180.0
1     27701.0
2     30448.0
3     32340.0
4     34079.0
5     33802.0
6     33520.0
7     31891.0
8     30689.0
9     29801.0
10    30152.0
11    31115.0
12    33458.0
13    35737.0
14    35801.0
15    33599.0
16    31002.0
17    29452.0
Name: concurrentPlays, dtype: float64

In [54]:
agg_df[agg_df.justJoined<0]

Empty DataFrame
Columns: [ts, asset, state, device, rbr, justJoined, hasEnded, isVsf, isEbvs, sessionLength, concurrentPlays]
Index: []

In [55]:
agg_df.loc[(agg_df.asset=='LIVE | Sports News')&(agg_df.state=='OK')&(agg_df.device=='RokuTV')]

,ts,asset,state,device,rbr,justJoined,hasEnded,isVsf,isEbvs,sessionLength,concurrentPlays
144,0,LIVE | Sports News,OK,RokuTV,1.465958,0.0,0.0,0.0,0.0,18.817986,0.0
5602,1,LIVE | Sports News,OK,RokuTV,1.465958,1.0,1.0,0.0,0.0,18.817986,1.0
11004,2,LIVE | Sports News,OK,RokuTV,0.757951,0.0,0.0,0.0,0.0,48.831615,0.0
16523,3,LIVE | Sports News,OK,RokuTV,1.476092,0.0,0.0,0.0,0.0,25.248979,0.0
21982,4,LIVE | Sports News,OK,RokuTV,1.365050,0.0,0.0,0.0,0.0,28.127060,0.0
27443,5,LIVE | Sports News,OK,RokuTV,0.577793,2.0,0.0,0.0,0.0,17.815924,2.0
32902,6,LIVE | Sports News,OK,RokuTV,1.337722,0.0,1.0,0.0,0.0,16.642272,2.0
38361,7,LIVE | Sports News,OK,RokuTV,1.139315,0.0,1.0,0.0,0.0,14.703795,1.0
43822,8,LIVE | Sports News,OK,RokuTV,0.940907,0.0,0.0,0.0,0.0,12.765318,0.0
49282,9,LIVE | Sports News,OK,RokuTV,1.139619,1.0,0.0,0.0,0.0,0.873087,1.0
54741,10,LIVE | Sports News,OK,RokuTV,1.289012,2.0,2.0,0.0,0.0,0.714091,3.0
60201,11,LIVE | Sports News,OK,RokuTV,1.160327,0.0,1.0,0.0,0.0,12.400101,1.0
65661,12,LIVE | Sports News,OK,RokuTV,0.710188,1.0,0.0,0.0,0.0,20.525081,1.0
71123,13,LIVE | Sports News,OK,RokuTV,0.461657,1.0,2.0,0.0,0.0,10.403792,2.0
76524,14,LIVE | Sports News,OK,RokuTV,1.035112,0.0,0.0,0.0,0.0,33.571832,0.0
82041,15,LIVE | Sports News,OK,RokuTV,1.057567,2.0,1.0,0.0,0.0,10.093589,2.0
87503,16,LIVE | Sports News,OK,RokuTV,1.016512,2.0,2.0,0.0,0.0,5.179805,3.0
92962,17,LIVE | Sports News,OK,RokuTV,1.016512,0.0,1.0,0.0,0.0,5.179805,1.0

In [56]:
agg_df.to_csv('../data/simpleSS.csv',index=False)